button{
    color: #333333;
    background-color: #FFC107;
}

footer {
    background-color: #D7CCC8;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 50px;
    border: black 2px;
    
  }
header{
    background-color: #D7CCC8;
    color: #111111;
}